.App {
  font-family: Arial;
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  height: 175px;
}

.Margin-left-right-10 {
 margin-left: 10px;
 margin-right: 10px;
}

.Center-align {
  text-align: center;
}

.Right-align {
  text-align: right;
}

.Rxjs-pink {
  color: #df0090;
}

.Rxjs-pink-background {
  background-color: #df0090;
}

.Purple {
  color:purple;
}

.Purple-background {
  background-color: purple;
}

.Blue {
  color:blue;
}

.Blue-background {
  background-color: blue;
}

.White-text {
  color: white;
}

.Margin-top-10 {
  margin-top: 10px;
}

.Font-75em {
  font-size: .75em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
